html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    pointer-events: none;
}

#catImage{
    width: 75px;
    height: 75px;
    pointer-events: auto;
}

.facingLeft{
    transform: scaleX(-1);
}

#left{
    width: 25px;
    height:75px;
    pointer-events: auto;
}

#right{
    width: 25px;
    flex-basis: 25px;
    height: 75px;
    pointer-events: auto;
}

#catSpan{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}