html,body{
    margin: 0;
    padding: 0;
}

#catImage{
    width: 300px;
    height: 300px;
}

.facingLeft{
    transform: scaleX(-1);
}

#left{
    transform: translateY(-300px);
    width: 100px;
    height: 300px;
}

#right{
    transform: translateY(300px);
    width: 100px;
    height: 300px;
}